{{ form_start(form) }}
    <div> {{form_row(form.title)}} </div>
    <div> {{form_row(form.startedAt)}} </div>
    <div> {{form_row(form.endedAt)}} </div>
    <div> {{form_row(form.nbSeat)}} </div>
    <div> {{form_row(form.stagiaires)}} </div>
    {#TODO
        voir uikit pr mettre en page un form moins moche
        #}
    {#COL 
        c'est ici qu'on va s'occuper de programmes #}
    <div id="programmes"

        {# le modele html donc manipulable de chak form ProgrammeType voir doc allow add#}
        data-prototype= "{{ form_widget(form.programmes.vars.prototype)|e }}"

        {#La balise dans laquelle chak nouveau form ProgrammeType va devoir s'insérer#}
        data-widget-tags= "{{ '<div class="programmeForm"></div>'|e}} "

        {#un compteur permettant de mettre un id unique à chag form 
        sans ça on ne rentre pas de nouvelle donnée forcément si deux form ont la meme id....
        le plus simple mesurer la longueur#}
        data-widget-counter= "{{ form.programmes|length}} "
    > {# <=et oui tout ça était dans la div #}
            {% for programme in form.programmes %}
                <div class="programmeForm">
                    {{ form_errors(programme) }}
                    {{ form_widget(programme) }}
                </div>
            {# ça affichera donc chaque formprogramme séparément#}
            {% endfor %}

            {#Le bouton JS qui permettra d'ajouter un nouveau ProgrammeType à la collection #}
            <button id="addButton">Ajouter un programme</button>
    </div>




    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

{#ASK 
    comme c un form include est ce qu'on peut mettre le JS ici?#}


