{% extends 'base.html.twig' %}

{% block title %}Formation{% endblock %}

{% block body %}
    <h1>Formation</h1>

    <table class="table">
        <tbody>
            
            <tr>
                <th>Intitulé</th>
                <td>{{ session.title }}</td>
            </tr>
            <tr>
                <th>Commencé le</th>
                <td>{{ session.startedAt ? session.startedAt|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Finis le </th>
                <td>{{ session.endedAt ? session.endedAt|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Nbre de places prévues</th>
                <td>{{ session.nbSeat }}</td>
            </tr>
        </tbody>

    </table>
    <h2>Comprends les modules :</h2>
    {% for programme in session.programmes %}
        <p>Le module {{programme.blocmodule.name}} sur {{programme.duree}} jours</p>
    {% else %}
        <p>Le programme n'a pas encore été créé il faut aller <a href="{{path('programme_new')}} ">ici</a></p>  
    {% endfor %}
    <a href="{{ path('session_index') }}">Retour à la liste</a>

    <a href="{{ path('session_edit', {'id': session.id}) }}">Editer</a>

    {{ include('session/_delete_form.html.twig') }}
{% endblock %}
