{% extends 'base.html.twig' %}

{% block title %}Programme index{% endblock %}

{% block body %}
    <h1>Programme index</h1>

    
        {% for programme in programmes %}
            
                
                     
            <div>
                <h1> la formation:{{programme.session.title}}</h1>
                <p>{{programme.blocmodule.name}} sur  {{ programme.duree }} jours </p>
                <button>
                    <a href="{{ path('programme_show', {'id': programme.id}) }}">show</a>
                </button>
                <button>
                    <a href="{{ path('programme_edit', {'id': programme.id}) }}">edit</a>
                </button>
            </div>   
                                                    
        {% else %}
            <p>no records found</p>
            
        {% endfor %}
        

    <a href="{{ path('programme_new') }}">Create new</a>
{% endblock %}
